.Progress-bar{
    height: 100px;
    padding: 80px 150px 0px 150px ;
  }
.Nav-bar{
    height: 100px;
    background-color: #CEBFE1;
  }
.Content{
    padding: 80px 150px 0px 150px;
    text-align: left;
  }
.Content h1{
    color: #594275;
    font-family: "Poppins-Bold";
  }
  .Content p{
  font-family: "Poppins-Light";
}

.Button-group{
  padding: 50px 150px 0px 150px;
}

.Select-button{
  padding: 20px 10px 20px 10px;
  margin: 0px 20px 20px 20px;
  border-radius: 12px;
  border-width: 1px;
  background-color: white;
  font-family: "Poppins-bold";
}



.Select-button:hover{
  background-color: #FDE8EB;
}


.Direction-group{
  padding: 50px 0px 50px 0px;
}

.Direction-button{
  width: 150px;
  padding: 20px 10px 20px 10px;
  margin: 0px 20px 20px 20px;
  border: 0;
  outline: none;
  background: #ffb6c1;
  color: black;
  border-radius: 12px;
  border-width: 3px;
  border-color: #FFB6C1 ;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
  font-family: "Poppins-Medium";
  cursor: pointer;
}



.Direction-button:active {
  background-color: #ffb6c1;
  transform: translateY(5px);
}

.Direction-button:hover{
  background-color: #FFB6C1;
}